@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font-family {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
/* share styles */
.display-flex{
    display: flex;
}
.orange{
    color: rgb(254, 163, 1);
}
.sky-blue{
    color: rgb(1, 172, 253);
}
.aqua{
    color: rgb(5, 212, 223);
}
.purple{
    color: rgb(93, 88, 239);
}
.light-blue{
    color: rgb(100, 200, 255);
}
.light-orange{
    color: rgb(240, 170, 0);
}
.light-purple{
    color: rgb(135, 0, 255);
}
.background-photo{
    background-image: url(../assets/bg.png);
    background-size: cover;   
}
.read-btn{
    border: none;
    font-size: 0.9375rem;
    font-weight: 700;
    margin-top: 40px;
}
.forward-backward-btn{
    color: white;
    background-color: rgb(254, 163, 1);
    font-size: 2rem;
    font-weight: 500;
    border: none;
    border-radius: 50%;
    padding: 15px 20px 15px 20px;
}
/* nav-bar-style */
.menu-link{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
}
.menu{
    list-style: none;
}
.nav-bar{
    justify-content:  space-between;
    align-items: center; 
    margin:0 141px ; 
    background-color: rgba(255, 255, 255, 1);
    padding: 20px 0;
    
}
.nav-container{   
    align-items: center;
}
.institute{
    color: rgb(17, 17, 17);
    font-size: 2rem;
    font-weight: 700;
    
}
.back-pack{
    height: 50px;
    width: 50px;
    max-width: 100%;
    max-height: 100%;
}
.menu-bar{
    gap: 32px;
}
.Contact-btn{
    font-size: 1.25rem;
    font-weight: 500;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    color: rgba(255, 255, 255, 1);
    background-color: rgb(254, 163, 1);
    margin-left: 186px;
} 
/* banner related styles */
.banner-section{
    justify-content:  space-between;
    align-items: center; 
    margin:0 141px ;
    background-color: rgba(255, 255, 255, 1.00);
}
.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
}
.banner-description{
    font-size: 1.25rem;
    font-weight: 400;
    color: rgb(17, 17, 17);
}
.banner-text{
    width: 640px;
    height: 331px;
    
}
.enroll-btn{
    font-size: 1.25rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 17, 17);
    border: 1px;
    border-radius: 12px;
    padding: 10px 47px;
}
.hero-img{
    position: relative;
    bottom: 0px;
    right: 0px;
    
}
.banner-section{
    margin-bottom: 60px;
}
/* card related styles */
.content{
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.card-section{   
    margin:0 141px ;
    justify-content: center;
}
.card-grand-pa{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    ;
}
.card-title{
    text-align: center;
    font-size: 2.875rem;
    font-weight: 700;
    color: rgb(0, 0, 0);  
    margin-bottom: 80px;
}
.card-head{
    font-size: 1.5rem;
    font-weight: 700;
}
.card-description{
    font-size: 0.9375rem;
    font-weight: 500;
}
.card-container-1{
width: 367px;
height: 476px;
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
border-radius: 18px;
border-bottom: 1px solid;
text-align: center;
align-content: center;
justify-items: center;
transition: transform, 1s linear;
}
.card-container-1:hover{
    transform: scale(1.25);
    background: linear-gradient(180deg, rgb(180, 220, 240), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}
.card-container-2{
    width: 367px;
    height: 476px;
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border-radius: 18px;
    border-bottom: 1px solid;
    text-align: center;
    align-content: center;
    justify-items: center;
    transition: transform, 1s linear;
}
.card-container-2:hover{
    transform: scale(1.25);
    background: linear-gradient(180deg, rgb(255, 220, 180), rgba(255, 255, 255, 0) 40%), rgb(240, 240, 240);
}
.card-container-3{
    width: 367px;
    height: 476px;
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border-radius: 18px;
    border-bottom: 1px solid;
    text-align: center;
    align-content: center;
    justify-items: center;
    transition: transform, 1s linear ;
}
.card-container-3:hover{
    transform: scale(1.25);
    background: linear-gradient(180deg, rgb(210, 195, 230), rgba(255, 255, 255, 0) 40%), rgb(240, 240,240);
}
/* forward-backward-btn related styles */
.backward{
    position: absolute;
    left: calc(50% - 50px);
    transform: translateX(50%);
}
.forward{
    position: absolute;
    left: calc(50% + 50px);
    transform: translateX(60%);
}
.forward-backward-btn-container{
    margin-top: 80px;
}
/* news related photo */
#november-19{
    padding: 15px 19px;
    border: none;
    border-radius: 47px;
    font-size: 0.95875rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(60, 216, 232);
    margin-left: 38px;
    position: relative;
    top: -84px;
}
.stories{
    text-align: center;
    font-size: 2.875rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.toddler-text{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}
.classroom{
    font-size: 0.95875rem;
    color: rgb(102, 102, 102);
    font-weight: 500;
    text-align: center;
}
.toddler{
    
} 
.news-bar-grand-pa{
    background-image: url(../assets/bg.png);
    background-size: cover;
    align-items: center;
}
.news-bar-section{
    margin:0 141px ;
    margin-top: 120px;
    background-image: url(../assets/bg.png);
    background: url(image), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);;
    justify-content: center;
}
.news-bar-container{
    gap: 19px;
}
.news-photo-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
}
.news-4{
    width: 290.69px;
    height: 301.61px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
}
#news-4{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.share-headline{
    text-align:center;
    
}
.november{
    margin-left: 37px;
    position: relative;
    top: -20px;
    color: rgb(255, 255, 255);
    background-color: rgb(149, 178, 38);
    padding: 10px 19px;
    border: none;
    border-radius: 47.93px;
}
#november{
    background-color: rgb(93, 88, 240);
}
.toddler-container{
    height: 630px;
    width: 540px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    
}
#toddler-container{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-bottom: 55px;
}
@media screen and (max-width:546px) {
    .display-hide{
        display: none;
    }
    .banner-section,
    .banner-section,
    .content,
    .card-grand-pa
    {
        flex-direction: column;
        align-items: center;
    }
    .hero-img{
        order: 1;
    }
    .banner-text{
        order: 2;
    }
    .banner-section{
        width: 80%;
    }
    .card-container-1,
    .card-container-2,
    .card-container-3{
        width: 100%;
    }
    .content{
        
    }
}